
/* Base Styles */

* {
  box-sizing: border-box;
 }

body {
  font-size: 16px;
  line-height: 1.618em;
  font-family: 'Roboto', sans-serif;
}

/* Browser Support Molecule */
.browser-support {
  width: 90%;
   margin: 0 auto; 

}

/*----- General Styling -----*/



#main, #sidebar {
  
  float: left;
}


h1 {
  font-weight: 200;
  font-size: 3em;
}


h2, h3, h4 {
  font-weight: 400;
}



h3 {
  margin-bottom: -15px;
}


p {
  color: #7b7b7b;
}



#main {
 
  width: 75%;
  padding: 10px 35px 30px 0;

}


.divider {
        border: 1px solid #E0E0E0 ;
        width: auto;
}



/*----- Basic Examples (Component 1) -----*/


button {
  border-radius: 5px; 
  color: #ffffff;
  border-color: #00c5e3;
  background-color: #00c5e3;
  padding: 8px;
  border: none;
  width: 120px;
  margin-right: 5px;
 
}



.arrow-down {
  width: 20px; 
  height: 20px; 
  margin-left: 50px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00c5e3;

  
}

.right-side-arrow {
  position: relative;
  left: 130px;
  top: -20px;
}


.example {
   border: 1px solid #00c5e3;
   border-radius: 5px;
   margin-top: -20px;
   padding: 20px;
   height: 130px;

}


.example p {
  margin: 0;
  font-weight: 300;
}


.example p span {
  font-weight: 400;
}




/*----- Section Containers (Component 2) -----*/

section h1, section h2, section h3, section h4, section h5,section div, section, section header, section p {
	margin: 0;
}

section ul li {
	margin-left: 0px;
}

section {
	margin-top: 30px;
	border: 1px solid #ff73b7;
  border-radius: 4px;
  background-color: #fffafe;
  clear: left;
}

section > header {
	display: flex;
  justify-content: space-between;
	background-color: #ff73b7;
	padding: 20px 40px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
	color: #fff;
}

section > header > h3 {
	font-size: 26px;
  font-weight: 500;
	margin: 0;
}

.section-dropdown span {
	display: inline-block;
  height: 4px;
  width: 24px;
	border-radius: 2px;
	background-color: #fff;
}

.section-dropdown span:first-child{
	transform: rotate(-45deg) translateY(-6px);
	margin-right: -22px;
}

.section-dropdown span:nth-child(2) {
	transform: rotate(45deg) translateY(-6px);
}

section > main {
	padding: 30px 40px 60px;
}

section > main > * {
	margin: 0;
}

section > main > h4{
	margin-bottom: 4px;
	font-size: 20px;
  font-weight: 500;
}

section > main > h4 + p {
	margin-bottom: 20px;
}

section > main > p {
	margin-bottom: 6px;

}

/*----- Browser Compatibility (Component 3) -----*/

/*// Colors //*/

.no-support {
	background-color: #ff6668;
}

.some-support {
	background-color: #f3a75b;
}

.full-support {
	background-color: #5dd170;
}

.support {
	border-radius: 4px;
	height: 40px;
	width: 60px;
  margin-right: 12px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.support.active {
	transform: scaleX(1.1) scaleY(1.1);
}

legend .support {
	height: 20px;
	width: 30px;
	margin-right: 10px;
}
legend .support + span {
	font-size: 14px;
	color: #7b7b7b;
	margin-right: 20px;
}

.browser-compatibility legend {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.browser-compatibility section {
  padding: 16px 30px;
  margin-bottom: 12px;
	background-color: #fff;
}

.browser-compatibility-overview {
	display: flex;
  align-items: center;
}

.browser {
	display: flex;
  align-items: center;
  width: 220px;
}

.browser img {
	margin-right: 14px;
}

.browser h5 {
	display: inline-block;
	color: #7b7b7b;
}

.support-info {
	display: flex;
	position: relative;
	align-items: center;
	margin: 30px 0 12px;
	padding: 20px 30px;
  border-radius: 4px;
  color: #fff;
}

.support-info:before {
	content: "";
  position: absolute;
  top: -10px;
  left: 306px;
  border-width: 0px 16px 13px;
  border-style: solid;
  border-color: #F3A75B transparent;
  display: block;
  width: 0;
}

.support-info > div {
  align-self: flex-start;
}

.support-info h4 {
	font-weight: 400;
  font-size: 22px;
	margin-bottom: 20px;
}

.support-info p {
	font-weight: 300;
	color: #fff;
}

.support-info ul {
	list-style-type: none;
	padding: 0;
}

.support-info ul > li {
	display: flex;
	margin-bottom: 20px;
}

p.updated {
	color: rgba(255,255,255, .5);
	margin-top: 20px;
}

.divide {
	display: inline-block;
	width: 1px;
	height: 160px;
	margin: 0 20px;
	background-color: rgba(255,255,255,.5);
}

.num {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 26px;
  margin-right: 12px;
  border: solid 1px #fff;
  border-radius: 50%;
  font-weight: 400;
  color: #fff;
}



.close span {
	display: inline-block;
	position: relative;
  height: 4px;
  width: 24px;
  padding: 0;
	border-radius: 2px;
	background-color: #fff;

}

.close span:first-child{
	transform: rotate(-45deg) translateY(-6px);
	right: -8px;
  top: 2px;
}

.close span:nth-child(2) {
	transform: rotate(45deg) translateY(-6px);
	top: -25px;
}

/*----- Footnotes & Reference (Component 4) -----*/


ol li {
  font-size: 14px;
  line-height: 1.5em;
}


#footer {
  clear: both;
  padding: 10px 10px 10px 0;
  
}

/*----- Sidebar (Component 5) -----*/


.question span {
  background-color: #f8bcd9;
}


.answer span {
  background-color: #e1c6d4;

}


.answer {
  color: #5dd170;

}

#sidebar h3 {
  
   color: #f38cbe;
   
   font-size: 1.5em;

}


#sidebar h4 {

  color: #808080;
  font-size: 1.2em;

}

#sidebar h5 {

  color: #808080;
  font-size: 1em;
  margin-top: 18px;

}

#mod_dev {
  color: #ee5da3;

}


#sidebar-divider {
   border: 1px solid #e6b3cc;
   margin: 10px 5px 10px 5px;

}

#sidebar {
 
  border-left: 1px solid #d279a6;
  width: 25%;
  padding: 20px 0 0 20px;
  background-color: #fff7fc;
  font-weight: 200;
  
}


ul li {
  list-style: none;
  margin-left: -40px;
  color: #8c8388;

}

.qa {
  color: white;
  border-radius: 50%;
  padding: 3px;
  margin-right: 3px;
  font-size: 12px;
}


.sidebar-line-height {
  margin-bottom: -15px;

}