
/* Base Styles */

* {
  box-sizing: border-box;
 }

body {
  font-size: 16px;
  line-height: 1.618em;
  font-family: 'Roboto', sans-serif;
}

/* Browser Support Molecule */
.browser-support {
  width: 92%;
   margin: 0 auto; 

}

/*----- General Styling -----*/
main.container {
  display: flex;
}

section h1, section h2, section h3, section h4, section h5,section div, section, section header, section p, section ul li {
	margin: 0;
}

h1 {
  font-weight: 200;
  font-size: 3em;
}

h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

h2 {
  margin: 2rem 0;
  font-size: 1.6rem;
}

p {
  margin-top: 0px;
  color: #7b7b7b;
}

a {
  text-decoration: none;
}

article.main {
  width: 75%;
  padding: 10px 35px 0 0;
}

hr {
  border: 1px solid #E0E0E0 ;
  margin: 2.5rem 0;
}

/*----- Basic Examples (Component 1) -----*/
.title {
  font-size: 3rem;
  color: #ac69ea;
}

.title .parentheses {
  color: #898989;
}

.title + p {
  margin-bottom: 3rem;
}

.code-example {
  margin-bottom: 1.6rem;
}

.code-example-tab {
  display: inline-block;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #bcbcbc;
  border-color: #00c5e3;
  padding: 10px 20px;
  text-transform: uppercase;
}

.code-example-tab.active {
  color: #f37bb6;
  background-color: #f6f6f6;
}

.code-example-view {
   padding: 20px;
   height: 130px;
   border-radius: 5px;
   border-top-left-radius: 0;
   background-color: #f6f6f6;
}

.code-example-view p {
  margin: 0;
}

/*----- Section Containers (Component 2) -----*/
.unit-container {
	margin-bottom: 40px;
  border-radius: 4px;
  background-color: #f3f3fa;
}

.unit-container > header {
  display: flex;
  justify-content: space-between;
  background-color: #9193f7;
  padding: 12px 24px;
  border-radius: 4px;
  color: #fff;
}

.unit-container > header > h3 {
	font-size: 1.2rem;
  font-weight: 500;
	margin: 0;
}

.arrow {
  transform: scale(.6);
}

.arrow span {
	display: inline-block;
  height: 4px;
  width: 24px;
	border-radius: 2px;
	background-color: #fff;
}

.arrow span:first-child{
	transform: rotate(-45deg) translateY(-6px);
	margin-right: -22px;
}

.arrow span:nth-child(2) {
	transform: rotate(45deg) translateY(-6px);
}

.unit-container > main {
	padding: 30px 24px;
}

.unit-container > main > h4{
	margin-bottom: 4px;
	font-size: 20px;
  font-weight: 500;
}

.unit-container > main > p {
	margin-bottom: 1.25rem;
}

.unit-container .code-example-tab.active{
  background-color: #fff;
}

.unit-container .code-example-view{
  background-color: #fff;
}

.unit-container hr {
  border: 1px solid #9193F7;
  margin: 2.5rem 0;
}

/*----- Browser Compatibility (Component 3) -----*/
/*// Colors //*/
.no-support {
	background-color: #e55934;
}

.some-support {
	background-color: #e6d901;
}

.full-support {
	background-color: #8bbb1f;
}

.support {
	border-radius: 4px;
	height: 40px;
	width: 60px;
  margin-right: 12px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.support.active {
	transform: scaleX(1.1) scaleY(1.1);
}

legend .support {
	height: 20px;
	width: 30px;
	margin-right: 10px;
}
legend .support + span {
	font-size: 14px;
	color: #7b7b7b;
	margin-right: 20px;
}

.browser-compatibility legend {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.browser-compatibility section {
  padding: 16px 30px;
}

.browser-compatibility-overview {
	display: flex;
  align-items: center;
}

.browser {
	display: flex;
  align-items: center;
  width: 220px;
}

.browser img {
	margin-right: 14px;
}

.browser h5 {
	display: inline-block;
	color: #7b7b7b;
}

.support-info {
	display: flex;
	position: relative;
	align-items: center;
	margin: 30px 0 12px;
	padding: 20px 30px;
  border-radius: 4px;
  background-color: #fff;
  color: #616161;
}

.support-info:before {
	content: "";
  position: absolute;
  top: -10px;
  left: 306px;
  border-width: 0px 16px 13px;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.support-info > div {
  align-self: flex-start;
}

.support-info h4 {
	font-weight: 400;
  font-size: 22px;
	margin-bottom: 20px;
}

.support-info ul {
	list-style-type: none;
	padding: 0;
}

.support-info ul > li {
	display: flex;
	margin-bottom: 20px;
}

p.updated {
	color: #a3a3a3;
	margin-top: 20px;
}

.divide {
	display: inline-block;
	width: 1px;
	height: 160px;
	margin: 0 20px;
	background-color: #F3F3FA;
}

.num {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  min-width: 25px;
  margin-right: 12px;
  border: solid 1px #9193F7;
  border-radius: 50%;
  font-weight: 400;
  color: #9193f7;
}

.close span {
	display: inline-block;
	position: absolute;
  right: 10px;
  top: 30px;
  height: 4px;
  width: 25px;
  padding: 0;
	border-radius: 2px;
	background-color: #8a8a8a;
}

.close span:first-child{
	transform: rotate(-45deg);
}

.close span:nth-child(2) {
	transform: rotate(45deg);
}

/*----- Footnotes & Reference (Component 4) -----*/
footer {
  padding: 10px 10px 10px 0;
}

footer h3 {
  margin-bottom: 1.5rem;
}

footer ol li {
  margin-bottom: .5rem;
  font-size: 14px;
  line-height: 1.5em;
}

/*----- Sidebar (Component 5) -----*/
.sidebar-container {
  margin: 1rem 0;
  padding: 20px;
  background-color: #f3f3fa;
}

.sidebar-container * {
  color: #8d8488;
}

.sidebar h3 {
   color: #f665ad;
   font-size: 1.2rem;
}

.sidebar h4 {
  font-size: 1.2em;
}

h4.qa {
  color: #929292;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.sidebar ul li {
  list-style: none;
  margin-left: -40px;
  color: #8c8388;
}

li.question:first-child {
  margin-top: 30px;
}
li.question {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

li.answer {
  margin-top: 6px;
}

.sidebar h5 {
  font-size: 1em;
  margin-top: 18px;
}

.qa {
  display: inline-block;
  color: white;
  border-radius: 50%;
  height: 24px;
  min-width: 24px; 
  margin-right: 10px;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
}

.question .qa {
  background-color: #a9bac5;
}

.answer.no .qa {
  background-color: #ffa7a7;
}

.answer.yes .qa {
  background-color: #98d59a;
}

.qa + p {
	display: inline-block;
	margin: 0;
}

.answer.yes p {
  color: #06b10a;
}

.answer.no p{
  color: #ff5a5a;
}
.sidebar a {
  color: #858afc;
  position: relative;
}

.link-arrow {
  display: flex;
  justify-content: space-between;
  color: #858AFC;
}

.link-arrow .arrow {
  transform: rotate(90deg) scale(.4);
}

.link-arrow .arrow span {
  background-color: #858afc;
}


.sidebar hr {
  border: 1px solid #858afc;
  margin: 10px 0;
}