
/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.618em;
}

/* Browser Support Molecule */

/* Write your styles below here */

.browser-support {
  width: 100%;
}
